@model economus_cpp.Models.Meta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorAplicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorAplicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
