@{
    ViewData["Title"] = "Economus - Controle Patrimonial";
}

<head>
    <link rel="stylesheet" href="~/css/index.styles.css" />
</head>

<div class="text-center mt-5">
    <h1>Bem-vindo ao Economus - Controle Patrimonial</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Por favor, faça <a asp-controller="Account" asp-action="Login" class="teclas">Login</a> ou <a asp-controller="Account" asp-action="Register" class="teclas">Cadastre-se</a> para continuar.</p>
    }
    else
    {
        <p>Você está logado como @ViewData["UserName"]. Use o menu para navegar pelo sistema.</p>
        <div class="financial-summary">
            <h3>Resumo Financeiro:</h3>
            <p>Total de Receitas: <span>@ViewData["TotalReceipts"]</span></p>
            <p>Total de Despesas: <span>@ViewData["TotalExpenses"]</span></p>
            <p>Saldo: <span class="balance @(Convert.ToDecimal(ViewData["Balance"]) < 0 ? "negative-balance" : "")">@ViewData["Balance"]</span></p>
        </div>
    }
</div>
